name: Documentation
on:
    push:
        branches:
            - master
            - main
permissions:
    contents: read
    pages: write
    id-token: write
jobs:
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/configure-pages@v5
            - uses: actions/checkout@v5
            - uses: actions/setup-python@v5
              with:
                  python-version: 3.x
            - uses: prefix-dev/setup-pixi@v0.8.8
              with:
                  pixi-version: v0.48.0
                  cache: true
                  environments: docs
            - run: pixi run -e docs zensical build --clean
            - uses: actions/upload-pages-artifact@v4
              with:
                  path: site
            - uses: actions/deploy-pages@v4
              id: deployment
